@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root,
body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  background-color: hsl(212, 45%, 89%);
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.card-wrapper {
  width: 330px;
  height: 500px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;

  align-items: center;
}
.img {
  padding: 15px;
}

.img img {
  width: 100%;
  border-radius: 12px;
}

.theme h1 {
  font-weight: 700;
  color: hsl(218, 55%, 25%);
  text-align: center;
  margin: 0 20px 0 20px;
  width: auto;
  font-size: 23px;
}

.info {
  margin-top: 15px;
  padding: 1;
}
.info p {
  color: hsl(211, 22%, 63%);
  font-size: 16px;
  text-align: center;
  margin: 0 25px 0 25px;
}
